<mat-card class="task-card" *ngrxLet="todos$ as todos">
    <div class="task-list">
        <div class="task-item" *ngFor="let todo of todos">
            <mat-checkbox class="example-margin" [(ngModel)]="todo.isCompleted" (ngModelChange)="modifytodo(todo)"></mat-checkbox>
            <mat-label [ngClass]="{'task-done':todo.isCompleted}">{{ todo.title }}</mat-label>
            <button mat-mini-fab color="warn" (click)="deleteTodo(todo.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>