<mat-card class="auth-card">
    <mat-card-title>Todo App</mat-card-title>
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
        </mat-form-field>
        <button mat-raised-button class="btn btn-primary">Login</button>
        <span style="display: flex;margin-top: 10px;">Don't have account?<a [routerLink]="['/auth/register']"  style="margin: 0 5px;">Register</a>Here</span>
    </form>
</mat-card>